<%- include ('../partials/header') %> <%- include ('../partials/menu') %>

<main>
  <div class="container">
    <h1>Login</h1>

    <form action="/login" method="POST">
      <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required />
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
      </div>
      <button type="submit" name="button">Login</button>
    </form>
    <p>
      Don't have an account?
      <a href="/register" class="link-primary">Register here.</a>
    </p>
  </div>
</main>

<%- include ('../partials/footer') %>
