<%- include ('../partials/header') %> 
<%- include ('../partials/menu') %>

<main>
  <div class="container">
    <h1>Login</h1>

    <form action="/login" method="POST">
      <div>
        <label for="username">Username</label>
        <input class="form-control" type="text" id="username" name="username" required />
      </div>
      <div>
        <label for="password">Password</label>
        <input class="form-control" type="password" id="password" name="password" required />
      </div>
      <div class= "row">
        <div class = "col"><p>Don't have an account? &nbsp <a href="/register">Register</a></p></div>
        <div class = "col-1"><button type="submit" class="btn btn-primary">Login</button></div>
      </div>
    </form>
    <div class="col"><%- include ('../partials/message') %></div>
  </div>
</main>

<%- include ('../partials/footer') %>

