<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
  <div class="container d-flex justify-content-center align-items-center">
    <div class="bg-black p-5 rounded shadow-sm" style="width: 400px;">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <h1 class="link2" style="font-size: 2rem;">Register</h1>
    <form action="/register" method="POST">
      <label for="username" class="link2">Username</label>
      <input class="form-control" type="username" id="username" name="username" />
    
      <label for="password" class="link2">Password</label>
      <input class="form-control" type="password" id="password" name="password" />
      
      <div class="row">
        <div class="col"><p class="link2">Already have an account? &nbsp<a href="/login">Login</a></p></div>
      </div>
      <div class="row">
        <div class="col-1"><button type="submit" class="btn btn-primary">Register</button></div>
      </div> <!-- Close the row div -->
      </form> <!-- Close the form tag here -->
    <div class="col"><%- include ('../partials/message') %></div>
  </div>
</main>


<%- include ('../partials/footer') %>