<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <h1>Register</h1>
    <form action="/register" method="POST">
      <label for="username">Username</label>
      <input class="form-control" type="username" id="username" name="username" />
    
      <label for="password">Password</label>
      <input class="form-control" type="password" id="password" name="password" />
      
      <div class= "row">
        <div class = "col"><p>Already have an account? &nbsp<a href="/login">Login</a></p></div>
        <div class = "col-1"><button type="submit" class="btn btn-primary">Register</button></div>
    </div>
    </form>
  </div>
</main>

<%- include ('../partials/footer') %>