/*CSS is added by referencing the style.css in header. But we need to add var path = require('path');
app.use(express.static(path.join(__dirname, 'resources'))); which is added in index.js
 */

/* Font being used in the header and game image labels - Akkurat
Add any new font0-face between this and the next comment. Also add the font.ttf or
font.eot in /resources/css/fonts. */
@font-face {
  font-family: "Akkurat";
  src: url("/css/fonts/Akkurat.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "HafferTRIAL-Light";
  src: url("/css/fonts/HafferTRIAL-Light.otf") format("opentype");
  font-weight: light;
  font-style: normal;
}
@font-face {
  font-family: "HafferTRIAL-SemiBold";
  src: url("/css/fonts/HafferTRIAL-SemiBold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

/*CSS for the cards used in the discover and search page */
.card-row {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
}
.card-row::-webkit-scrollbar {
  display: none;
}

.card {
  flex: 0 0 auto;
  margin-right: 5px;
  padding: 0px;
  border: 5px solid #000000;
  border-radius: 5px;
  width: 250px;
  height: fit-content;
  overflow: hidden;
  position: relative;
}
.plus-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 1.5rem;
  color: #000000;
  cursor: pointer;
}
.plus-icon:hover {
  color: #16ff00;
}

#modalImage {
  width: 40%;
  height: 40%;
  max-height: 400px;
  object-fit: contain;
}
.card img {
  width: 100%;
  height: 100%;
  margin-bottom: 0;
  object-fit: cover;
}

.card p {
  margin-top: 0;
  margin-bottom: 10px;
}

.card a {
  display: block;
  width: 100%;
  text-align: center;
}

.video {
  flex: 0 0 auto;
  margin-right: 5px;
  padding: 0px;
  border: 5px solid #000000;
  border-radius: 5px;
  width: fit-content;
  height: 315px;
  margin-bottom: 0;
  object-fit: contain;
  position: relative;
}

/*CSS style for header that makes it fixed as well as adds a black color to the menu bar
Body adds a black background to the entire website. But it cant be changed to the body
of just specific pages.*/
header {
  --vh: 7.89px;
  color: #000;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  user-select: none;
  mix-blend-mode: difference;
  opacity: 1;
}

body {
  padding-top: 125px;
  background-color: #000;
}

/*CSS for the fonts in the header including logo and image labels(Potentially can be used anywhere on the website*/
.link-default {
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  user-select: none;
  font: inherit;
  font-family: Akkurat;
  font-size: 0.78125vw;
  text-transform: uppercase;
  color: #fff;
}
.link {
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  user-select: none;
  margin-right: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  display: flex;
  font-family: Akkurat;
  font-size: 0.78125vw;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  position: relative;
  height: max-content;
  width: fit-content;
  margin-left: 15px;
}

.logo {
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  user-select: none;
  -webkit-user-drag: none;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  display: flex;
  font-family: Akkurat;
  font-size: 3vw;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  margin: 0;
  height: max-content;
  width: fit-content;
  position: sticky;
  right: 30px;
}

.link2 {
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  user-select: none;
  margin-right: 15px;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  display: flex;
  font-family: Akkurat;
  font-size: 0.78125vw;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  position: relative;
  height: max-content;
  width: fit-content;
  margin-left: 0;
  background-color: black;
}

.link:hover {
  color: #16ff00;
}

.link2:hover {
  color: #16ff00;
}
/*CSS for the search bar */
.search-bar {
  border: none;
  border-bottom: 2px solid #000000;
  background-color: #000000;
  color: #ffffff;
  font-family: Akkurat;
  font-size: 15px;
  width: 200px;
}

.search-bar:focus {
  outline: none;
  border-bottom: 2px solid #ffffff;
}

/*CSS for the + button */
.btn {
  background-color: #ffffff;
  border: none;
  color: rgb(0, 0, 0);
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
}

.btn:hover {
  opacity: 1;
}

/*CSS for the gamepage artwork */

.custom-container {
  position: absolute;
  padding: 50px;
  overflow: hidden;
  display: inline-block;
}

.custom-container::before {
  content: "";
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: inherit;
  filter: blur(10px); /* increased blur to 100px */
  opacity: 0.5;
  z-index: -1;
}

.image-original,
.image-blur {
  width: 100%;
  height: auto;
  display: block;
}

.image-blur {
  position: relative;
  top: 0;
  left: 0;
  filter: blur(10px);
  z-index: -1;
}

.content-container {
  top: 120px;
  padding-left: 25px;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: left;
  box-sizing: border-box;
}

.container-fluid-3 {
  overflow-x: auto;
  white-space: nowrap;
  padding-top: 25px;
  padding-bottom: 25px;
}

.card-screenshot {
  flex: 0 0 auto;
  margin-right: 5px;
  padding: 1px;
  border: 0px solid #000000;
  border-radius: 5px;
  height: auto;
  width: 75%;
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.game-info-container {
  flex: 0 0 auto;
  margin-right: 5px;
  margin-left: 5px;
  padding: 5px;
  border: 0px solid #000000;
  border-radius: 5px;
  height: auto;
  width: 80%;
  overflow: hidden;
  position: relative;
  display: inline-block;
  background-color: #29253a;
}

/*CSS for the archives */

.button-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  height: auto;
  width: 100%;
  white-space: nowrap;
}

.button-container::-webkit-scrollbar {
  display: none;
}

.container-fluid-5 {
  max-width: 100%;
  margin: 0 auto;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 0;
}

/* PLAN TO ADD A .CSS FOR DASHBOARD. -- Tony*/

.table {
  color: #fff;
}
